[submodule "verilog"]
	path = verilog
	url = https://github.com/Ngox-Tsjengh/verilog.git

[submodule "Unix"]
	path = Unix
	url = https://github.com/Ngox-Tsjengh/Unix.git

[submodule "Origin-OS-x86"]
	path = Origin-OS-x86
	url = https://github.com/Ngox-Tsjengh/Origin-OS-x86.git

[submodule "rust-OS-RISCV"]
	path = rust-OS-RISCV
	url = https://github.com/Ngox-Tsjengh/rust-OS-RISCV.git 

[submodule "verilog-CPU-openMIPS"]
	path = verilog-CPU-openMIPS
	url = https://github.com/Ngox-Tsjengh/verilog-CPU-openMIPS.git 

[submodule "linux-OS-x86"]
	path = linux-OS-x86
	url = https://github.com/Ngox-Tsjengh/linux-OS-x86.git

[submodule "compile"]
	path = compile
	url = https://github.com/Ngox-Tsjengh/compile.git

[submodule "Linux"]
	path = Linux
	url = https://github.com/Ngox-Tsjengh/Linux.git

[submodule "chisel-examples"]
	path = chisel-examples
	url = https://github.com/Ngox-Tsjengh/chisel-examples.git
	
[submodule "OSTEP"]
	path = OSTEP
	url = https://github.com/Ngox-Tsjengh/OSTEP.git

[submodule "Multi-thread"]
	path = Multi-thread
	url = https://github.com/Ngox-Tsjengh/Multi-thread.git
