[submodule "verilog"]
	path = verilog
	url = https://github.com/Tengs-Penkwe/verilog.git

[submodule "Unix"]
	path = Unix
	url = https://github.com/Tengs-Penkwe/Unix.git

[submodule "compilation"]
	path = compilation
	url = https://github.com/Tengs-Penkwe/compilation.git

[submodule "Linux"]
	path = Linux
	url = https://github.com/Tengs-Penkwe/Linux.git

[submodule "OSTEP"]
	path = OSTEP
	url = https://github.com/Tengs-Penkwe/OSTEP.git

[submodule "Multi-thread"]
	path = Multi-thread
	url = https://github.com/Tengs-Penkwe/Multi-thread.git

[submodule "SICP"]
	path = SICP
	url = https://github.com/Tengs-Penkwe/SICP.git

[submodule "Compiler"]
	path = Compiler
	url = git@github.com:Tengs-Penkwe/Compiler.git
[submodule "Zig"]
	path = Zig
	url = git@github.com:Tengs-Penkwe/Zig.git
[submodule "Practice"]
	path = Practice
	url = git@github.com:Tengs-Penkwe/Practice.git
[submodule "Haskell"]
	path = Haskell
	url = git@github.com:Tengs-Penkwe/Haskell.git
[submodule "Rust"]
	path = Rust
	url = git@github.com:Tengs-Penkwe/Rust.git
